@import '../../../style/variables.scss';

.buttons-menu-wrapper{

    height: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    .buttons-menu {
        display: flex;
        justify-content: center;
        
        .menu-button {
            font-size: $buttonText;
            padding: 2px 5px 2px 0;
            margin: 10px 10px;
            background-color: $green5;
            cursor: pointer;
        
            display: flex;
            justify-content: center;

            .menu-button-hover-icon {
                padding: 0 5px;
                font-size: 0px;
                transition: font-size 0.4s;
            }
            &:hover .menu-button-hover-icon{
                font-size: $buttonText;
            }
            .menu-button-option-text {
                font-size: $buttonText;
                text-align: center;
            }
        }
        .conf {
            width: 100px;
            height: 23px;
            transition: width 0.4s;
            &:hover {
                width: 110px;
            }
        }
        .main-button {
            width: 150px;
            height: 23px;
        }
    }
    .warning-buttons-menu {
        height: 100vh;
        width: 100vw;
        background-color: $greenT;
        position: absolute;
        top: 0;
        left: 0;

        display: flex;
        flex-direction: column;
        justify-content: center;

        .warning-text {
            font-size: $warningText;
            margin: 20px auto;
            cursor: default;
        }
    }
}

@media screen and (max-width: 660px) {
    .buttons-menu-wrapper{

        .buttons-menu {

            display: flex;

            .menu-button {
                height: 80%;
                width: 80%;
                margin: 3px 5px;
                align-items: center;
                .menu-button-hover-icon {

                }
                .menu-button-option-text {

                }
            }
            .conf {
                width: 100px;
                height: 23px;
                transition: width 0.4s;
            }
            .main-button {

            }
        }
        .warning-buttons-menu {
            margin: 0 auto;
            align-items: center;
            .warning-text {
                width: 80%;
            }
        }
    }
}
