$negativeColor: #9f0013be;
$positiveColor: #0b009fc5;
$neutralColor: #aca9d4;
$dark: #232222;
$grey: #5C5C5C;
$green1: #199515;
$green2: #146c11;
$green3: #145b11;
$green4: #0e4e0b;
$green5: #073605;
$greenT: #063304d3;
$greenTD: #062904ea;
$greenTB: #3b563ab4;
$greenO: #0360002b;
$transparent: #005b3700;


$titleText: 18px;
$warningText: 16px;
$buttonText: 14px;
$buttonTextPlusTwo: 16px;
